* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* NAVBAR SECTION*/

.navbar {
  background: white;
}

nav {
  min-height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
}

nav ul {
  display: flex;
  padding-right: 1.9rem;
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
}

nav ul a {
  font-size: 1.3rem;
  color: rgb(33, 33, 33);
}

nav ul a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2rem;
  width: 2rem;
  margin-bottom: 0.2rem;
}

.hamburger .row {
  display: flex;
  justify-content: space-evenly;
}

.hamburger .line {
  padding: 0.2rem;
  background: rgb(114, 114, 114);
}

.profile-picture {
  padding-left: 1.9rem;
  padding-right: 3rem;
}

.profile-picture img {
  width: 3.2rem;
  height: 3.2rem;
}

.images-link-container {
  padding-left: 1.6rem;
}
