* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* NAVBAR SECTION*/

.navbar {
  background: white;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2.7rem;
  width: 2.7rem;
}

.hamburger .row {
  display: flex;
  justify-content: space-evenly;
}

.hamburger .line {
  height: 0.5rem;
  width: 0.5rem;
  background: rgb(114, 114, 114);
}

.profile-picture {
  padding-left: 1.5rem;
}

.profile-picture img {
  width: 3rem;
  height: 3rem;
}
