* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.navbar {
  height: 10vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2.7rem;
  width: 2.7rem;
}

.hamburger .row {
  display: flex;
  justify-content: space-evenly;
}

.hamburger .line {
  height: 0.5rem;
  width: 0.5rem;
  background: rgb(114, 114, 114);
}
